@charset "utf-8";

h1 {
			color: #000000;
			text-align: left;
			width: 1150px;
			float: right;
		}
h2{
	color: #000000;
	text-align: left;
	font-size: 38px;
}

h3{
	color: #000000;
	text-align: left;
	font-size: 30px;
}

h4{
	color: #000000;
	text-align: left;
	font-size: 30px;
}

body {

	background-image: url("../images/brick_wall.png");

			color: #000000;
			font-size: 28px;

}
	#main-content{
				width: 66%;
				text-align: left;
				float: left;
				padding: 10px;
				margin: 4px;
				}


.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

p {
	color: #000000;
	font-size: 25px;
}

#container {
	background-color:#7cc576;
	text-align: left;
	height: 250px;


}

#main-nav-container-desktop-nav {
	text-align: left;
	padding-left:10px;

}
.button {
  background-color: #6cdff6;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  margin: 4px 65px;
  cursor: pointer;
  float: left;
}

#col-main-site-sidebar {
	width: 10%;
	text-align: left;
	float: right;
	padding: 10px;
	margin: 4px;
	box-sizing: border-box;
}

.content-images {
	padding: 10px; 
}

.c2 {
  float: left;
  width: 30%;
  padding: 5px;
  box-sizing: border-box;
}
.c2::after {
  content: "";
  clear: both;
  display: table;
}

#sub-head {
	text-align: left;
	font-weight: 100;
	padding: 10px;
	margin: 10px;

}

#footer {
	background-color:#7cc576;
	padding: 2px; 
	box-sizing: border-box;

}

.column {
  float: right;
  width: 5%;
  padding: 5px;
  border: 10px;
  color: #7cc576;
}

  
.row::after {
  content: "";
  clear: both;
  display: table;

}
